.btn {
  width: 49.07%;
  height: 9.3%;
  background: #7860d7;
  text-align: center;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  outline: none;
  color: #ffffff;
  margin-top: 4.65%;
}

.btn:hover {
  background: #05c9b7;
}

h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

h3 {
  font: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

h1 {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.body-small {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.button {
  background: #7869d7;
  border-radius: 8px;
}

.button:hover {
  background-color: #05c9b7;
  border-radius: 8px;
}

body {
  background-color: #221b3a;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.logo {
  width: 8.05%;
  height: 3.12%;
  margin-top: 2.25rem;
  margin-left: 10.31rem;
  background: #221b3a;
  z-index: 3;
}

.planet-img {
  background-image: url("/src/resources/planet.webp");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  background-size: 100% 100%;
}

.planet-images {
  width: 100%;
  height: 83.78%;
  position: absolute;
  bottom: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 15.2%;
}

.illustration-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  height: 86.05%;
  margin-bottom: 0px;
  position: relative;
}

.illustration-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  object-fit: fill;
  background-size: 100% 100%;
}

.rocket-images {
  height: 32.66%;
  width: 49.33%;
  z-index: 4;
  position: absolute;
  top: 0;
  right: 27.46666666666667%;
}

#rocket {
  background-image: url("/src/resources/rocket.webp");
  height: 96.55%;
  width: 55.14%;
  top: 0;
  left: 28.57%;
  right: 20.83%;
  position: absolute;
  z-index: 3;
}

#smoke1 {
  background-image: url("/src/resources/smoke2.png");
  height: 42.76%;
  width: 35.14%;
  background-size: 100% 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

#smoke2 {
  background-image: url("/src/resources/smoke1.png");
  height: 34.48%;
  width: 28.1%;
  position: absolute;
  left: 79.17%;
  bottom: 0;
}

#landing-gear {
  background-image: url("/src/resources/landing_gear.png");
  height: 6.18%;
  width: 18.13%;
  position: absolute;
  left: 41.533333%;
  bottom: 80.38%;
  z-index: 3;
}

.rocket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  width: 26%;
  height: 67.2%;
}

.trigger-animation {
  animation-name: takeoff;
  animation-duration: 6s;
}

@keyframes takeoff {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -900px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

footer {
  position: absolute;
  margin-left: 11.46%;
  bottom: 3.12%;
  width: 77.29%;
  background-color: relative;
  display: flex;
  justify-content: space-between;
  color: #8d7fbc;
}
