@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
.btn {
  width: 49.07%;
  height: 9.3%;
  background: #7860d7;
  text-align: center;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  outline: none;
  color: #ffffff;
  margin-top: 4.65%;
}

.btn:hover {
  background: #05c9b7;
}

h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

h3 {
  font: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

h1 {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.body-small {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.button {
  background: #7869d7;
  border-radius: 8px;
}

.button:hover {
  background-color: #05c9b7;
  border-radius: 8px;
}

body {
  background-color: #221b3a;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.circle1 {
  position: absolute;
  left: -12.29%;
  right: 88.23%;
  top: 41.93%;
  bottom: 12.97%;
  border-radius: 50%;

  background: linear-gradient(180deg, #2b2347 0%, #221b3a 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.inner {
  background-color: #221b3a;
  top: 10%;
  left: 10%; /* of the container */
  width: 80%; /* of the container */
  height: 80%; /* of the container */
  position: relative;
  border-radius: 50%;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.inner2 {
  background-color: #221b3a;
  top: 10%;
  left: 10%; /* of the container */
  width: 80%; /* of the container */
  height: 80%; /* of the container */
  position: relative;
  border-radius: 50%;
  z-index: -1;
}
.inner3 {
  background-color: #221b3a;
  top: 10%;
  left: 10%; /* of the container */
  width: 90%; /* of the container */
  height: 80%; /* of the container */
  position: relative;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: -1;
}

.circle2 {
  position: absolute;
  left: 33.82%;
  right: 42.12%;
  top: -26.82%;
  bottom: 81.72%;
  border-radius: 50%;
  background: linear-gradient(180deg, #2b2347 0%, #221b3a 100%);
  z-index: -1;
}

.circle3 {
  position: absolute;
  left: 86.53%;
  right: -10.58%;
  top: 14.06%;
  bottom: 40.83%;
  border-radius: 50%;
  background: linear-gradient(180deg, #2b2347 0%, #221b3a 100%);
  z-index: -1;
}

.path {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: -3;
}

.path108 {
  left: 46.04%;
  right: 53.4%;
  top: 84.9%;
  bottom: 14.06%;
  background: #7860d7;
  z-index: -3;
}

.path109 {
  left: 5.83%;
  right: 93.61%;
  top: 18.75%;
  bottom: 80.21%;
  background: #e34a67;
  z-index: -3;
}

.path107 {
  left: 87.64%;
  right: 11.81%;
  top: 71.88%;
  bottom: 27.08%;
  z-index: -3;
  background: #e34a67;
}

.path110 {
  left: 20.83%;
  right: 78.61%;
  top: 65.1%;
  bottom: 33.85%;
  z-index: -3;
  background: #00c9b7;
}

.path106 {
  left: 60.97%;
  right: 38.47%;
  top: 10.94%;
  bottom: 88.02%;
  z-index: -3;
  background: #00c9b7;
}
.logo {
  width: 8.05%;
  height: 3.12%;
  margin-top: 2.25rem;
  margin-left: 10.31rem;
  background: #221b3a;
  z-index: 3;
}

.links-container {
  height: 58.3%;
  width: 24.3%;
  margin-left: 16.25rem;
  margin-top: 6.25rem;
  background-color: #221b3a;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.875rem;
  grid-row-gap: 2rem;
  z-index: 3;
}

.box-cover {
  overflow: hidden;
}

.box {
  background-color: #221b3a 90%;
  border-radius: 1rem;
  width: 45.7%;
  height: 46.4%;
  display: flex;
  flex-direction: column;
  text-align: center;

  background-repeat: no-repeat;
  background-size: cover;
}

.capsules-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      360deg,
      #2b224a 0%,
      rgba(43, 34, 74, 0) 100%
    ),
    url("./resources/Capsules.png");
  border-radius: 1rem;
}

.crew-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      360deg,
      #2b224a 0%,
      rgba(43, 34, 74, 0) 100%
    ),
    url("./resources/Crew.png");
  border-radius: 1rem;
}

.starlink-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      360deg,
      #2b224a 0%,
      rgba(43, 34, 74, 0) 100%
    ),
    url("./resources/Starlink.png");
  border-radius: 1rem;
}

.rockets-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      360deg,
      #2b224a 0%,
      rgba(43, 34, 74, 0) 100%
    ),
    url("./resources/Rockets.png");
  border-radius: 1rem;
}

.link-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 78.8%;
  margin-bottom: 0;
}

.link-title-hover {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: linear-gradient(
    0deg,
    rgba(43, 34, 74, 0.92) 7.69%,
    rgba(70, 58, 113, 0.92) 100%
  );
  filter: drop-shadow(0px 12px 32px rgba(22, 13, 49, 0.4));
}

.box:hover {
  filter: drop-shadow(0px 12px 32px rgba(22, 13, 49, 0.4));
}

.modal {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 37.5%;
  height: 46.875%;
  background: linear-gradient(0deg, #2b224a, #2b224a), #ffffff;
  border-radius: 1rem;
  box-shadow: 0rem 0.75rem 2rem rgba(22, 13, 49, 0.4);
  box-sizing: border-box;
  border: 0.0625rem solid #342957;
}

.modal-headline {
  margin: 5.6% 4.44% 4.44% 4.44%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.88%;
}

.modal-header {
  margin-left: 4.44%;
  margin-right: 4.44%;
  border-radius: 0.57rem;
  height: 11.1%;
  color: #a094c6 !important;
  background-color: #4c3e79;
  background-position: right;
  align-items: center;
}

.type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #4c3e79;
  width: 50%;
  float: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  border-radius: 0.57rem;
  font-size: 0.875rem;
}

.type:hover {
  background-color: #251d42;
}

.status:hover {
  background-color: #251d42;
}

.status {
  height: 100%;
  background-color: #4c3e79;
  width: 50%;
  float: right;
  border-radius: 0.57rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  margin-right: 6.5%;
  top: 50%;
}

.table-container {
  margin: 4.44% 4.44% 6.66% 7%;
  height: 53%;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
table thead {
  /* head takes the height it requires, 
    and it's not scaled when table is resized */
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
}
table tbody {
  /* body takes all the remaining available space */
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
}
table tbody tr {
  width: 100%;
}
table thead,
table tbody tr {
  display: table;
  table-layout: fixed;
}

.tr {
  height: 10.5%;
}

.tr-next {
  margin-top: 4.6%;
  height: 10.5%;
  margin-bottom: 0;
}

.table-overlay {
  background: linear-gradient(180deg, rgba(43, 34, 74, 0) 0%, #2b224a 100%);
  position: absolute;
  width: 88.3%;
  height: 14%;
  bottom: 0%;
  left: 5.7%;
  pointer-events: none;
  z-index: 5;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #221a3c;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: #53477d;
  border-radius: 0.5rem;
}

.error-msg {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-img {
  background-image: url("/src/resources/planet.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  background-size: 100% 100%;
}

.planet-images {
  width: 100%;
  height: 83.78%;
  position: absolute;
  bottom: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 15.2%;
}

.illustration-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  height: 86.05%;
  margin-bottom: 0px;
  position: relative;
}

.illustration-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  object-fit: fill;
  background-size: 100% 100%;
}

.rocket-images {
  height: 32.66%;
  width: 49.33%;
  z-index: 4;
  position: absolute;
  top: 0;
  right: 27.46666666666667%;
}

#rocket {
  background-image: url("/src/resources/rocket.png");
  height: 96.55%;
  width: 55.14%;
  top: 0;
  left: 28.57%;
  right: 20.83%;
  position: absolute;
  z-index: 3;
}

#smoke1 {
  background-image: url("/src/resources/smoke2.png");
  height: 42.76%;
  width: 35.14%;
  background-size: 100% 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

#smoke2 {
  background-image: url("/src/resources/smoke1.png");
  height: 34.48%;
  width: 28.1%;
  position: absolute;
  left: 79.17%;
  bottom: 0;
}

#landing-gear {
  background-image: url("/src/resources/landing_gear.png");
  height: 6.18%;
  width: 18.13%;
  position: absolute;
  left: 41.533333%;
  bottom: 80.38%;
  z-index: 3;
}

.rocket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  width: 26%;
  height: 67.2%;
}

.trigger-animation {
  animation-name: takeoff;
  animation-duration: 6s;
}

@keyframes takeoff {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -900px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

footer {
  position: absolute;
  margin-left: 11.46%;
  bottom: 3.12%;
  width: 77.29%;
  background-color: relative;
  display: flex;
  justify-content: space-between;
  color: #8d7fbc;
}
